<p>안녕하세요, <%= @email %>님!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>이메일 주소를 <%= @resource.unconfirmed_email %>(으)로 변경하는 절차가 진행 중임을 알려드립니다.</p>
<% else %>
  <p>이메일 주소가 <%= @resource.email %>(으)로 변경되었음을 알려드립니다.</p>
<% end %>
