<p>안녕하세요, <%= @resource.email %>님!</p>

<p>비밀번호 변경을 요청하셨습니다. 아래 링크를 눌러 새 비밀번호를 설정해 주세요.</p>

<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>직접 요청하지 않으셨다면 이 메일을 무시하셔도 됩니다.</p>
<p>위 링크에 접속해서 새 비밀번호를 설정하기 전까지는 기존 비밀번호가 그대로 유지됩니다.</p>
